<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BOOK STORE</h1>
    <p>lorem ipsum dolor sit amet, consectetur adip</p>
    
    <a href="/">Home</a>
    <!-- <a href="/">Book List</a> -->
    <a href="/books/add">Add Book</a>
    
    <h2>Add Books Page</h2>
    <form action="/books/add" method="post">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="author" id="author" placeholder="Author">
        <input type="date" name="release" id="release" placeholder="Release Date">
        <input type="number" name="pages" id="pages" placeholder="Pages">
        <input type="text" name="genre" id="genre" placeholder="Genre">
        <input type="submit" value="Submit">
    </form>

</body>
</html>