<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>BOOK STORE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quasi, id dolor quam reprehenderit praesentium mollitia earum quos quas cupiditate similique sed, iusto laboriosam laudantium aperiam rem veniam dolores nulla?</p>

    <a href="/">Home</a>
    <!-- <a href="/">Book List</a> -->
    <a href="/books/add">Add Book</a>
    
    <h2>Home Page</h2>

    
</body>
</html>